{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
    <h1>Filter Companies</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
             <legend class="border-bottom-mb-4">Query Builder</legend>
        {{ form | crispy}}
        </fieldset>
        <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </div>
    </form>
</div>
<script>
  $( function() {
    $( "#id_name" ).autocomplete({
      source: "{%url 'auto_complete_name' %}"
    });
    $( "#id_domain" ).autocomplete({
      source: "{%url 'auto_complete_domain' %}"
    });
    $( "#id_year_founded" ).autocomplete({
      source: "{%url 'auto_complete_year_founded' %}"
    });
     $( "#id_industry" ).autocomplete({
      source: "{%url 'auto_complete_industry' %}"
    });
    $( "#id_size_range" ).autocomplete({
      source: "{%url 'auto_complete_size_range' %}"
    });
    $( "#id_locality" ).autocomplete({
      source: "{%url 'auto_complete_locality' %}"
    });
    $( "#id_country" ).autocomplete({
      source: "{%url 'auto_complete_country' %}"
    });
    $( "#id_linkedin_url" ).autocomplete({
      source: "{%url 'auto_complete_linkedin_url' %}"
    });
    $( "#id_current_employee_estimate" ).autocomplete({
      source: "{%url 'auto_complete_current_employee_estimate' %}"
    });
    $( "#id_total_employee_estimate" ).autocomplete({
      source: "{%url 'auto_complete_total_employee_estimate' %}"
    });
  } );
  </script>
{%endblock content%}