{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Upload file</h1>
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
                <legend class="border-bottom-mb-4">Upload file</legend>
                {{form | crispy}}
                </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
    </form>
    <div class="progress" style="margin-top: 20px; display: none;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>
<script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, true);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

            xhr.upload.addEventListener('progress', function(e) {
                if (e.lengthComputable) {
                    var percentComplete = (e.loaded / e.total) * 100;
                    var progressBar = document.querySelector('.progress-bar');
                    progressBar.style.width = percentComplete + '%';
                    progressBar.setAttribute('aria-valuenow', percentComplete);
                    progressBar.textContent = Math.round(percentComplete) + '%';
                }
            });

            xhr.onloadstart = function() {
                document.querySelector('.progress').style.display = 'block';
            };

            xhr.onloadend = function() {
                if (xhr.status === 200) {
                    window.location.href = '{{ redirect_url }}';
                } else {
                    alert('An error occurred!');
                }
            };

            xhr.send(formData);
        });
    </script>
{% endblock content %}